/* Source file styles */
p {
    margin: 0;
    padding: 0 0 0 .5em;
    border-left: 2px solid #ffffff;
    white-space: pre;
    position: relative;
    }
p.mis {
    background: #ffdddd;
    border-left: 2px solid #ff0000;
    }
p.run, p.run.hide_par {
    background: #ddffdd;
    border-left: 2px solid #00ff00;
    }
p.exc {
    background: #eeeeee;
    border-left: 2px solid #808080;
    }
p.par, p.par.hide_run {
    background: #ffffaa;
    border-left: 2px solid #eeee99;
    }
p.hide_run, p.hide_exc, p.hide_mis, p.hide_par,
p.hide_run.hide_par {
    background: inherit;
    }
span.annotate {
    font-family: georgia;
    color: #666;
    float: right;
    padding-right: .5em;
    }
p.hide_par span.annotate {
    display: none;
    }
span.annotate.long {
    display: none;
    }
p:hover span.annotate.long {
    display: block;
    max-width: 50%;
    white-space: normal;
    float: right;
    position: absolute;
    top: 1.75em;
    right: 1em;
    width: 30em;
    height: auto;
    color: #333;
    background: #ffffcc;
    border: 1px solid #888;
    padding: .25em .5em;
    z-index: 999;
    border-radius: .2em;
    box-shadow: #cccccc .2em .2em .2em;
    }

/* Syntax coloring */
.com {
    color: green;
    font-style: italic;
    line-height: 1px;
    }
.key {
    font-weight: bold;
    line-height: 1px;
    }
.str {
    color: #000080;
    }
